node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
allure-results/02e9eaf7-f566-4539-828e-ec32dee30090-result.json
allure-results/3e6076fd-1e4a-45e1-b5d3-ae8c901493ab-result.json
allure-results/4a2beaa3-bdcd-4f0b-b7b1-0c27fce9b51b-attachment.txt
allure-results/65b63a72-4e3d-4330-8876-255afa617ca4-result.json
allure-results/461cab61-168f-4264-8ee6-27a57310aaf2-attachment.txt
allure-results/6059dc7e-bc14-41ef-a6b4-2cad19adacb8-result.json
allure-results/a343e079-c6ce-4c2e-9682-f09011ad659f-attachment.txt
allure-results/daf98612-144d-411f-85f2-564558237ede-attachment.txt
allure-results/e4eca09a-ef03-48a5-adc2-090f307764eb-result.json
allure-results/e51c1418-18db-4626-8012-8c8285f9869f-result.json
allure-results/e2278629-6856-41a2-ae45-ed26e2f1c388-result.json
allure-results/feb942b8-0014-4ca8-b892-f24a8e1ba2e4-result.json
allure-report/app.js
allure-report/favicon.ico
allure-report/index.html
allure-report/styles.css
allure-report/data/behaviors.csv
allure-report/data/behaviors.json
allure-report/data/categories.csv
allure-report/data/categories.json
allure-report/data/packages.json
allure-report/data/suites.csv
allure-report/data/suites.json
allure-report/data/timeline.json
allure-report/data/attachments/1bf42d6c8331c255.txt
allure-report/data/attachments/53ef674712a419c3.txt
allure-report/data/attachments/151b09fb47a460a6.txt
allure-report/data/attachments/409b66c8a6700da7.txt
allure-report/data/attachments/2316a5ef5aee1ad4.txt
allure-report/data/attachments/3768fda894e69358.txt
allure-report/data/attachments/a034bf14ae953411.txt
allure-report/data/attachments/fd391fcbf3a81954.txt
allure-report/data/test-cases/2d60ad6bf2c4dea2.json
allure-report/data/test-cases/8e8c4dc56f1df215.json
allure-report/data/test-cases/9f4c2605417506f3.json
allure-report/data/test-cases/26ebe78eba19058a.json
allure-report/data/test-cases/74bb89514be26cda.json
allure-report/data/test-cases/313e87111c2cfe46.json
allure-report/data/test-cases/2505a5acc3427675.json
allure-report/data/test-cases/3925c6d6f5ee0660.json
allure-report/data/test-cases/6718be8524babd79.json
allure-report/data/test-cases/218210f13cfc5fd0.json
allure-report/data/test-cases/375980c7f7764d19.json
allure-report/data/test-cases/a221de1cf08305d8.json
allure-report/data/test-cases/b6f8621766d43a3d.json
allure-report/data/test-cases/b180810b83de52c3.json
allure-report/data/test-cases/c6ab53f60a0a5960.json
allure-report/data/test-cases/c9e62a84203fa70a.json
allure-report/data/test-cases/d58c1b9b38b48a86.json
allure-report/data/test-cases/f9603f6adf60071c.json
allure-report/data/test-cases/f287083e679ddad6.json
allure-report/export/influxDbData.txt
allure-report/export/mail.html
allure-report/export/prometheusData.txt
allure-report/history/categories-trend.json
allure-report/history/duration-trend.json
allure-report/history/history-trend.json
allure-report/history/history.json
allure-report/history/retry-trend.json
allure-report/plugin/behaviors/index.js
allure-report/plugin/packages/index.js
allure-report/plugin/screen-diff/index.js
allure-report/plugin/screen-diff/styles.css
allure-report/widgets/behaviors.json
allure-report/widgets/categories-trend.json
allure-report/widgets/categories.json
allure-report/widgets/duration-trend.json
allure-report/widgets/duration.json
allure-report/widgets/environment.json
allure-report/widgets/executors.json
allure-report/widgets/history-trend.json
allure-report/widgets/launch.json
allure-report/widgets/retry-trend.json
allure-report/widgets/severity.json
allure-report/widgets/status-chart.json
allure-report/widgets/suites.json
allure-report/widgets/summary.json
allure-results/1f032cfd-dd34-4a31-b9f6-a54f395c8e39-attachment.txt
allure-results/5a155b3b-02d5-4784-87bb-2fe5666b7690-result.json
allure-results/6c03b859-b8f5-4be2-bc97-31324a696502-result.json
allure-results/45fd6ef3-6d62-4ef5-8e72-1d5ca36b6b75-result.json
allure-results/63a33877-f0ef-4e3b-a6fa-443cc3da10da-attachment.txt
allure-results/97be6289-0a49-40d4-ac72-2d55d95e2d1c-result.json
allure-results/497a347a-f13c-4176-8112-53214d2f1435-result.json
allure-results/18732b49-48c5-428d-b401-6419906b4d64-result.json
allure-results/a6f46054-e710-4284-92bf-06b81eb95702-attachment.txt
allure-results/a64c4475-57ef-4fe2-8873-9672468308b3-result.json
allure-results/a951ffe6-ab0c-47c1-ba85-34b3a6b59551-result.json
allure-results/bbc6cccc-6249-4fe1-a572-b5dc9dce380f-result.json
allure-results/ce6218a8-a496-439c-b852-b04993390d84-result.json
allure-results/dfd1512d-af0d-49d6-b048-b93f5d65ff63-attachment.txt
allure-results/f4abc802-dc2e-473a-bce6-e5cab6b02508-result.json
